body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

p {
    margin: 0 0 8px 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h2,
h3 {
    margin: 0 0 12px 0;
}

h2 {
    @include fs-header(4);
}

h3 {
    @include fs-bodyHeading(2);
}

// MAIN ONLY
.regions__region {
    clear: left;
}

.forces {
    margin-right: -20px;
}

.forces__force {
    width: 50%;
    padding: 0 20px 8px 0;
    box-sizing: border-box;
    float: left;
}

// EMBED ONLY
.locate {
    float: left;
    margin: 0 10px 0 0;
    line-height: 38px;
}
