body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

// Link styles don't exist on the app
a {
    &,
    &:hover,
    &:active {
        color: #005689;
    }

    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

#interactive {
    padding: 10px;
}

h2 {
    @include fs-headline(3);
    margin: 0 0 12px 0;
}

$bar-height: 30px;
$d-sep: 8px;

dl {
    @include fs-textSans(3);
    line-height: $bar-height;
    margin-top: -$d-sep;
}

dt {
    float: left;
    width: 80px;
    clear: left;
    margin-right: 20px;
}

dd {
    display: block;
    overflow: hidden;
    margin: 0 0 $d-sep 0;
}


.bar {
    width: 100%;
    height: $bar-height;
}

.bar__part,
.bar__rest {
    height: $bar-height;
    box-sizing: border-box;
}

.bar__part {
    float: left;
    background-color: #94b1ca;
    padding-left: 10px;
}

.bar__rest {
    overflow: hidden;
    padding-right: 10px;
    text-align: right;
    background-color: #dcdcdc;
}
