$bar-height: 25px;
$d-sep: 4px;

dl {
    @include fs-textSans(3);
    line-height: $bar-height;
    margin: -$d-sep 0 12px;
}

dt {
    float: left;
    width: 90px;
    clear: left;
    margin-right: 20px;
}

dd {
    display: block;
    overflow: hidden;
    margin: 0 0 $d-sep 0;
}

.bar {
    height: $bar-height;
    margin-left: 60px;
    text-indent: -60px;
    background-image: url(assets/imgs/officer.svg);
    background-size: contain;
}
